#navbar {
  background-color: rgba(75, 75, 75, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-nav .nav-link {
  color: white !important;
  font-size: 12px;
}


#navbar-logo img {
  max-width: 100px;
}

#contact-us-btn {
  border-radius: 40px;
  font-size: 12px;
  margin-right: 20px
}

.masthead {
  background-image: url("Aryabimasantoso.github.io/AryabimaSantoso.github.io/docs/assets/img/main-image-adyawinsa.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.masthead-heading {
  font-size: 60px;
}

.masthead-subheading {
  font-size: 60px;
}
